<div class="overlay">
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <span class="card-title">Войти в систему</span>
    <div class="helper-text red-text">{{ registrationError }}</div>

    <a routerLink="/" class="brand-logo">&#x2717;</a>

    <div class="card-content">
      <div class="input-field">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="email" required />
        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
          class="helper-text red-text"
        >
          Email не должен быть пустым.
        </span>
        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
          class="helper-text red-text"
        >
          Введите корректный email.
        </span>
      </div>
      <div class="input-field">
        <label for="password">Пароль:</label>
        <input formControlName="password" id="password" type="password" />
        <span
          *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
          class="helper-text red-text"
        >
          Пароль обязателен.
        </span>
        <span
          *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']"
          class="helper-text red-text"
        >
          Пароль должен быть не менее 4 символов.
        </span>
      </div>
    </div>
    <div class="card-action">
      <button
        type="submit"
        class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >
        Войти
      </button>
    </div>
  </form>
</div>
